{% load static %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" href="/assets/favicon.ico" />
    <title>British Columbia Email Verification Service</title>
    <meta
      name="description"
      content="An email verification service used to issue a verifiable credential asserting that you are the owner of an email address."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="{% static 'css/bcgov_theme.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/app.css' %}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <script>
      __didcomm_url = "{{didcomm_url}}";
    </script>


    <script>
      (async () => {
        var state = '{{state}}'
        var interval = setInterval(async function(){
          try {
            console.log("getting state...")
            const response = await fetch('/state/' + '{{connection_id}}');
            state = await response.json();
            console.log(state)

            if(state["state"] == 'offer-sent') {
              el = document.querySelector('#connection-request-sent');
              el.style.display = 'none';

              el = document.querySelector('#connection-formed');
              el.style.display = 'block';

              el = document.querySelector('#offer-sending');
              el.style.display = 'block';
            } else if (state["state"] == 'credential-issued') {
              el = document.querySelector('#connection-request-sent');
              el.style.display = 'none';

              el = document.querySelector('#offer-sending');
              el.style.display = 'none';

              el = document.querySelector('#credential-issued');
              el.style.display = 'block';
              
              el = document.querySelector('#email-placeholder');
              el.textContent = state["email"]

              clearInterval(interval)
            }
            
          } catch (e) {
            console.error(e)
          }
        }, 500)

      })();
    </script>
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark">
        <!-- Navbar content -->
        <div class="container">
          <a class="navbar-brand" href="/">
            <img
              class="img-fluid d-none d-md-block"
              src="/assets/images/bcid-logo-rev-en.svg"
              width="177"
              height="44"
              alt="B.C. Government Logo"
            />

            <img
              class="img-fluid d-md-none"
              src="/assets/images/bcid-symbol-rev.svg"
              width="63"
              height="44"
              alt="B.C. Government Logo"
            />
          </a>
          <div class="navbar-brand">
            Email Verification Service
          </div>
        </div>
      </nav>
    </header>
    <main role="main">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 col-md-12">
            <h1>Credential Exchange in Progress</h1>
            <ul style="list-style: none;">
              {% comment %} Connection request sent {% endcomment %}
              <li id="connection-request-sent">
                <h2>Sending Connection Request <span class="fa fa-spinner fa-spin"></span></h2>
              </li>

              {% comment %} Connection formed {% endcomment %}
              <li id="connection-formed">
                <h2>Connection Formed <span class="fa fa-check"></span></h2>
                <p>
                You now have a connection with the email verification service.
                </p>
              </li>

              <li id="offer-sending">
                <h2>Credential Offer Sent <span class="fa fa-spinner fa-spin"></span></h2>
                <p>
                We have sent a credential offer to you. Please use your agent to accept the offer.
                </p>
              </li>

              {% comment %} Credential issued {% endcomment %}
              <li id="credential-issued" style="display: none">
                <h2>Credential Issued <span class="fa fa-check"></span></h2>
                <p>
                Thank you <b id="email-placeholder"></b>. You have accepted our credential offer.
                We have now issued you a credential which can be accepted using your mobile agent!
                </p>
                <p>
                  Need a place to experiment with your new credential? Try
                  <a href="https://confbook.vonx.io/">ConfBook</a>.
                </p>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </main>
    <footer class="footer">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <!-- Navbar content -->
        <div class="container">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a
                class="nav-link"
                href="https://www2.gov.bc.ca/gov/content/home/disclaimer"
                target="_blank"
                >Disclaimer</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="https://www2.gov.bc.ca/gov/content/home/privacy"
                target="_blank"
                >Privacy</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="https://www2.gov.bc.ca/gov/content/home/accessibility"
                target="_blank"
                >Accessibility</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="https://www2.gov.bc.ca/gov/content/home/copyright"
                target="_blank"
                >Copyright</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="https://www2.gov.bc.ca/gov/content/home/contact-us"
                target="_blank"
                >Contact Us</a
              >
            </li>
          </ul>
        </div>
      </nav>
    </footer>
    <script src="{% static 'js/bcgov_theme.min.js' %}" async defer></script>
    <script src="{% static 'js/verify.js' %}" async defer></script>
  </body>
</html>
