{% load static %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" href="/assets/favicon.ico" />
    <title>British Columbia Email Verification Service</title>
    <meta
      name="description"
      content="An email verification service used to issue a verifiable credential asserting that you are the owner of an email address."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="{% static 'css/bcgov_theme.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/app.css' %}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <script>
      __didcomm_url = "{{didcomm_url}}";
    </script>

    <script>
      (async () => {
        var interval = setInterval(async function(){
          try {
            console.log("getting state...")
            const response = await fetch('/state/' + '{{connection_id}}');
            const state = await response.json();
            console.log(state)
            if (state["state"] !== 'invite-created') {
              clearInterval(interval)
              location.href = '/in-progress/' + '{{connection_id}}';
            }
          } catch (e) {
            console.error(e)
          }
        }, 500)
      })();
    </script>
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark">
        <!-- Navbar content -->
        <div class="container">
          <a class="navbar-brand" href="/">
            <img
              class="img-fluid d-none d-md-block"
              src="/assets/images/bcid-logo-rev-en.svg"
              width="177"
              height="44"
              alt="B.C. Government Logo"
            />

            <img
              class="img-fluid d-md-none"
              src="/assets/images/bcid-symbol-rev.svg"
              width="63"
              height="44"
              alt="B.C. Government Logo"
            />
          </a>
          <div class="navbar-brand">
            Email Verification Service
          </div>
        </div>
      </nav>
    </header>
    <main role="main">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 col-md-12">
            <h1>Get Verified</h1>
            <p>
              Scan the QR code or click connect from your phone to form a
              connection with this Email Verification Service. Once the connection
              is established, the service will offer you a verifiable credential.
            </p>
            <div class="row">
              <div class="col-sm-6 col-md-4">
                <img width="200" src="data:image/png;base64, {{ qr_png }}" />
              </div>
              <div class="col-sm-6 col-md-8 pt-3">
                <a class="btn btn-primary btn-lg" href="{{ didcomm_url }}"
                  ><span class="fa fa-link"></span> Open in a Trusted Digital Wallet </a>
                <br />
                <input type="text" readonly="readonly" size="40" id="invitation-url" class="form-control mt-4" value="{{ invitation_url }}">
                <button type="button" class="btn btn-primary btn-lg mt-2"
                  onclick="var invite = document.getElementById('invitation-url'); if(invite) { invite.focus(); invite.select(); document.execCommand('copy'); }"
                  ><span class="fa fa-clipboard"></span> Copy Invitation </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="footer">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <!-- Navbar content -->
        <div class="container">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a
                class="nav-link"
                href="https://www2.gov.bc.ca/gov/content/home/disclaimer"
                target="_blank"
                >Disclaimer</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="https://www2.gov.bc.ca/gov/content/home/privacy"
                target="_blank"
                >Privacy</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="https://www2.gov.bc.ca/gov/content/home/accessibility"
                target="_blank"
                >Accessibility</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="https://www2.gov.bc.ca/gov/content/home/copyright"
                target="_blank"
                >Copyright</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="https://www2.gov.bc.ca/gov/content/home/contact-us"
                target="_blank"
                >Contact Us</a
              >
            </li>
          </ul>
        </div>
      </nav>
    </footer>
    <script src="{% static 'js/bcgov_theme.min.js' %}" async defer></script>
    <script src="{% static 'js/verify.js' %}" async defer></script>
  </body>
</html>
