certifi>=2019.3.9
chardet==3.0.4
Django>=2.2.4,<3
idna==2.8
Pillow>=6.2.2,<7
psycopg2==2.8.2
pytz==2019.1
qrcode==6.1
requests==2.21.0
six==1.12.0
sqlparse==0.3.0
urllib3==1.24.2

# Web Server
gunicorn>=19.7.1,<20
whitenoise>=3.3.1,<4